*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color-nav: rgb(88, 153, 38);
    --text-color: rgb(131, 135, 128);
}
nav section:first-child{
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0;
}
.top-links{
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
}
.icon{
    color: var(--bg-color-nav);
    text-decoration: none;
    padding: 0 5px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    margin-bottom: 0.2rem;
}
.content section:first-child{
    color: var(--bg-color-nav);
}
.School i{
    font-size: 3em;
    padding: 0 0.2em;
}
.content-phone,.content-map{
    display: flex;
    color: rgb(71, 69, 66);
}
.content p{
    padding: 2px 0;
}
.content-phone i, .content-map i{
    color: var(--bg-color-nav);
    font-size: 30px;
    padding: 0 0.8em;
}
.apply{
    background-color: white;
    border: 2px solid var(--bg-color-nav);
    color: var(--bg-color-nav);
    padding: 0 1.5em;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
}
.main-nav{
    background-color: var(--bg-color-nav);
    padding: 1.2em 7em;
    display: flex;
    justify-content: space-evenly;
}
.main-nav a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding-right: 1.2em;
}
#main-content{
    width: 100%;
    height: 70vh;
    background:url(./Ed.jpg);
    background-size: 100% 100%;
    text-align: center;
    padding-top: 180px;

}
#main-content > div{
    color: white;
}
#button1{
    background-color: var(--bg-color-nav);
    padding: 9px 15px;
    border: none;
    color: white;
    cursor: pointer;
}

#button2{
    background:none;
    padding: 8px 15px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#card-container{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    z-index: 1;
    color: white;
}

.card{
    width: 15vw;
    height: 30vh;
    padding: 25px;
    text-align: center;
}
.card1{
    background-color: rgb(79, 119, 184);
}
.card2{
    background-color: rgb(235, 125, 113);
}
.card3{
    background-color: rgb(180, 242, 119);
}
.card4{
    background-color: rgb(232, 139, 63);
}
.card i{
    font-size: 30px;
    padding-bottom: 10px;
}
.card p{
    font-size: 12px;
    padding-top: 10px;
}
.content-space{
    padding-top: 15px;
}
.map-location{
    margin-top: 5px;
}